
.section{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.section img{
    width: 573px;
    height: 693px;
    margin-left: 30px;
}

.text1{
    padding: 40px;
}

.text1 li{
    font-size: small;
    color: rgba(0, 0, 0, 0.268);
}